body {
    margin: 0;
    background-color: #000000;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.hobbies-section {
    padding: 50px;
    margin: 50px auto;
    max-width: 1000px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    opacity: 0;
    animation: fadeIn 1.5s forwards ease-in;
}

.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.hobby-item {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    width: 300px;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.hobby-item:hover {
    background-color: #e0e0e0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px); /* Lift effect on hover */
    border-bottom: 9px solid hsl(117, 35%, 67%);
}

.hobby-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.hobby-item:hover .hobby-icon {
    transform: rotate(360deg); /* Rotate effect on hover */
}

.hobby-detail {
    flex: 1;
    position: relative;
    z-index: 1;
}

.hobby-detail h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.hobby-detail p {
    margin: 0;
    font-size: 16px;
    color: #7a7a7a;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hobby-item::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    transition: 0.5s;
}

.hobby-item:hover::before {
    top: 0;
    left: 0;
}
